<%- include("../partials/header2") %>

<a href="/">Home</a>
<h1 id="current-date"> Today is <%= data.Astrodata.current_date %>.</h1>
<div class="card">
    
    <div class="card-circle">
        <div class="card-text">

            <h1 id="your-sign">Your sign: <%= data.sign %></h1>
            <h2 id="horo"><%= data.Astrodata.description %></h2>

            <h1><%= data.compatibility %> </h1>
            
            <h2>Compatibility: <%= data.Astrodata.compatibility %> </h2>
            <h2>Color: <%= data.Astrodata.color %> </h2>
            <h2>Lucky number: <%= data.Astrodata.lucky_number %> </h2>



        </div>
    </div>
</div>














<script> 
    let zodiacSign = document.getElementById("zodiacSign")
    zodiacSign.setAttribute("value", "<%= data.sign %>")
    
    </script>

    




<%- include("../partials/footer") %>

		
	

	

